.left {
    height: 450px;
    width: 200px;
    background-color: blue;
    float: left;
}

.right {
    height: 420px;
    width: 150px;
    background-color: red;
    float: right;
}

header {
    height: 100px;
    background-color: rgba(118, 223, 20, 0.267);
}

footer {
    height: 100px;
    background-color: #444;
    clear: both;
}

footer h1 {
    color: white;
    font-size: 30px;
    text-align: center;
}

.copyright {
    text-align: center;
}

.contact {
    height: 260px;
    text-align: left;
}